<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="mybatis/configuration.properties" />
	<environments default="clase">

		<environment id="clase1">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="${driver1}" />
				<property name="url" value="${url1}" />
				<property name="username" value="${username1}" />
				<property name="password" value="${password1}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis/mapper/UsuarioMapper.xml" />
		<mapper resource="mybatis/mapper/ProductoMapper.xml" />
		<mapper resource="mybatis/mapper/CategoriaMapper.xml" />

	</mappers>



</configuration>
